.cart {
  margin: 1.5rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.cart__titles {
  background-color: var(--lightPink);
}
p {
  color: var(--lightPink);
  margin-top: 1rem;
}
.cart__titles {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  color: var(--white);
  font-weight: normal;
}
.cart__titles th:first-child {
  flex: 0.6;
  text-align: left;
}
th:nth-child(2),
th:nth-child(3) {
  flex: 0.2;
  text-align: center;
}

td {
  padding: 0.4rem;
}

.total__price {
  margin-top: 2rem;
}
.total__price table {
  border-top: 3px solid var(--lightPink);
  width: 100%;
  max-width: 35rem;
}

.checkout__btn,
.clear__btn {
  background-color: var(--lightPink);
  outline: none;
  border: none;
  color: var(--white);
  padding: 0.5rem 1.3rem;
  font-weight: 500;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in;
  margin-right: 0.8rem;
}
.checkout__btn:hover,
.clear__btn:hover {
  background-color: var(--pink);
  color: var(--white);
}
@media (max-width: 768px) {
  th:first-child {
    flex: 0.2;
  }
  th:nth-child(2),
  th:nth-child(3) {
    flex: 0.4;
  }
}
