.cart__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -0.5rem;
}

tr {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.cart__info span {
  color: var(--pink);
}
td:first-child {
  flex: 0.6;
  text-align: left;
}
td:nth-child(2),
td:nth-child(3) {
  flex: 0.2;
  text-align: center;
}

td:first-child p {
  max-width: 300px;
}
td input {
  width: 3rem;
  height: 2rem;
  padding: 0.2rem;
}

.removeButton {
  color: var(--lightPink);
  font-family: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  transition: all 0.5s ease-in;
  margin-right: 0.7rem;
}
.removeButton:hover {
  color: var(--pink);
}

td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  object-fit: contain;
}
.buttons__group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons__group button {
  border-radius: 50%;
  border: 1px solid var(--lightPink);
  outline: none;
  background-color: var(--white);
  color: var(--lightPink);
}
.buttons__group button:hover {
  color: var(--pink);
  border-color: var(--pink);
  cursor: pointer;
}
.buttons__group > * {
  margin-right: 0.5rem;
}
.buttons__group button:last-child {
  margin-right: -1rem;
}

@media only screen and (max-width: 768px) {
  .cart__info {
    flex-direction: column;
    margin-left: -1.2rem;
  }
  .cart__info p {
    display: none;
  }
  td:nth-child(2),
  td:nth-child(3) {
    flex: 0.3;
  }
  td img {
    width: 7rem;
    height: 7rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  td:first-child {
    text-align: left;
    flex: 0.4;
  }
  .buttons__group {
    margin-right: 1rem;
  }
}
