.favoritePanel {
  position: absolute;
  right: 3rem;
  top: 5.5rem;
  z-index: 100;
  padding: 1rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgb(101 90 86 / 10%);
  transition: all 0.5s 0.2s;
  height: auto;
}
.favoriteProducts__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.favoriteProducts__list img {
  width: 3rem;
  object-fit: contain;
  margin-right: 2rem;
  margin-left: 1rem;
}
p {
  margin-top: -0.5rem;
}
.favoriteProducts__button,
.close__btn {
  border: none;
  background-color: transparent;
}
.close__btn {
  font-size: 1rem;
  color: var(--lightPink);
  align-self: flex-end;
}
.favoriteProducts__button:hover {
  cursor: pointer;
  color: var(--pink);
}
@media (max-width: 900px) {
  .favoritePanel {
    top: 6rem;
    right: 0rem;
    width: 100%;
  }
}
