.favoritePanel {
  position: absolute;
  right: 2rem;
  top: 5.54rem;
  z-index: 100;
  padding: 2rem 1rem;
  width: 24rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgb(101 90 86 / 10%);
  transition: all 0.5s 0.2s;
  height: auto;
}
.favoriteProducts__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.favoriteProducts__list img {
  width: 3rem;
  object-fit: contain;
  margin-right: 2rem;
  margin-left: 1rem;
}
.favoriteProducts__button {
  border: none;
  background-color: transparent;
}
.favoriteProducts__button:hover {
  cursor: pointer;
  color: var(--pink);
}
